body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


  .card-title {
    color: #5f788a;
  }

  .card-excerpt {
    font-size: small;
  }

  .card {
    width: 200px; /*1*/
    margin: 5px auto; /*2*/
    background-color: white; /*3*/
    box-shadow: 0px 5px 20px #999; /*4*/
  }
  .card a { /*5*/
    color: #333; 
    text-decoration: none;
  }
  .card:hover .card-image img { /*6*/
    width: 100%;
    filter: grayscale(0);
  }

  .card-image {
    height: 100px;/*1*/
    position: relative;/*2*/
    overflow: hidden;/*3*/
  }
  .card-image img {
    width: 80%;/*4*/
      /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* filter: grayscale(1); */
    transition-property: filter width; 
    transition-duration: .3s;
    transition-timing-function: ease;
  }

 
 /* DEBUT - Tableaux de pret */
  .loan-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    width: 100%;
    font: normal 13px Arial, sans-serif;
}
.loan-table thead th {
    background-color: #5f788a;
    border: solid 1px #5f788a;
    color: #cbd5db;
    padding: 5px;
    text-align: left;

}
.loan-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 5px;
}
/* FIN - Tableaux de pret */




/* Chat containers */
.discussion {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  margin: 5px auto;

}

/* Darker chat container */
.darker {
  border-color: #1f5501;
  background-color: #76d15f;
}

/* Clear floats */
.discussion::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.discussion  img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.discussion  img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}