{%extends 'toolbox/base.html'%}

{%block content%}


    <article class="media content-section">
        <div class="madia-body">
            <div class="article-metadata">
                <h2>Recapitulatif de la demande</h2>
            </div>
                {% if borrow.status == 'Accepted' %}
                    <div>
                        <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'borrow-retrieve' borrow.id %}"> Outil récupéré</a>
                    </div>
                {% endif %}
                {% if borrow.status == 'InProgress' %}
                <div>
                    <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'borrow-returned' borrow.id %}"> Outil rendu</a>
                </div>
                {% endif %}
                <p>
                    statut : {{borrow.get_status_display }} 
                </p>
                <h3 class="article-title"> {{borrow.tool.title}} </h3>
                <small class="text-muted"> le : {{ borrow.date_published|date:"d F Y - H:i" }}</small>
                 <p class="article-content"> {{borrow.request_message}} </p>
                <p>
                    du : {{borrow.date_begin}} <br>
                    au : {{borrow.date_end}}
                </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2 class="article-title">  Discussion </h2>
            </div>
            {% for msg in borrow.messages.all %}
                {% if msg.receiver == borrow.tool.owner %}
                    <div class="discussion">
                {%else%}
                    <div class="discussion darker">
                {% endif %}
                
                {% if msg.receiver == borrow.tool.owner %}
                    <img src="{{borrow.tool.owner.profile.image.url}}" alt="Avatar">
                {% endif %}

                {% if msg.sender == borrow.tool.owner %}
                    <img src="{{borrow.borrower.profile.image.url}}" alt="Avatar" class="right">
                {% endif %}
               
                <p>{{msg.body}}</p>

                {% if msg.receiver == borrow.tool.owner %}
                    <span class="time-right">{{msg.date_published}}</span>
                {% endif %}

                {% if msg.sender == borrow.tool.owner %}
                    <span class="time-left">{{msg.date_published}}</span>
                {% endif %}
           
              </div>
            {% endfor %}
              <form> 
                  <input type="text">
                  <button class="btn btn-outline-success" type="submit"> Envoyer </button>
              </form>
        </div>
    </article>

{%endblock content%}