{%extends 'toolbox/base.html'%}
{% load crispy_forms_tags %}
{%block content%}

    <h2>Recapitulatif de sa demande</h2>
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{object.borrower.profile.image.url}}">
        <div class="madia-body">
            <div class="article-metadata">
              
                {% if object.status == 'New' %}
                    <div>
                        <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'loan-accept' object.id %}">Accepter</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Refuser</a>
                    </div>
                {% endif %}

                {% if object.status == 'ToolReturned' %}
                <div>
                    <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'loan-complete' object.id %}">Terminer la location</a>
                </div>
            {% endif %}
            
            </div>
            <h2 class="article-title"> {{object.tool.title}} </h2>
            <small class="text-muted"> le : {{ object.date_published|date:"d F Y - H:i" }}</small>
            <p class="article-content"> {{object.request_message}} </p>

            <p>
                de : {{object.date_begin}} <br>
                a : {{object.date_end}}
            </p>
            <p>
                statut : {{loan.get_status_display }} 
            </p>
        </div>
    </article>


    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2 class="article-title">  Discussion </h2>
            </div>
            {% for msg in object.messages.all %}
                {% if msg.receiver == object.tool.owner %}
                    <div class="discussion">
                {%else%}
                    <div class="discussion darker">
                {% endif %}
                
                {% if msg.receiver == object.tool.owner %}
                    <img src="{{object.borrower.profile.image.url}}" alt="Avatar" >
                {% endif %}

                {% if msg.sender == object.tool.owner %}
                    <img src="{{object.tool.owner.profile.image.url}}" alt="Avatar" class="right">
                  
                {% endif %}
               
                <p>{{msg.body}}</p>

                {% if msg.receiver == object.tool.owner %}
                    <span class="time-left">{{msg.date_published}}</span>
                {% endif %}

                {% if msg.sender == object.tool.owner %}
                    <span class="time-right">{{msg.date_published}}</span>
                    
                {% endif %}
           
              </div>
            {% endfor %}
            <form method="POST"> 
                {%csrf_token%}
                <fieldset class="form-group">
                    {{ msg_form | crispy  }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit"> Envoyer </button>
                </div>
          </form>
        </div>
    </article>
{%endblock content%}