{%extends 'toolbox/base.html'%}

{%block content%}
    <h2>Mes demandes d'emprunts</h2>


    <!-- <article class="media content-section"></article> -->
        <table>
            <tr>
                <th> Demandeur </th>
                <th> outil </th>
                <th> de </th>
                <th> a </th>
                <th> action </th>
            </tr>
        {% for loan in loans %}

            <tr>
                <td> {{loan.borrower}}</td>
                <td> {{loan.tool.title}} </td>
                <td> {{loan.date_begin }} </td>
                <td> {{loan.date_end }} </td>
                <td> <a href="{% url 'loan-detail' loan.id %}"> Consulter </a> </td>
            </tr>

        {% endfor %}
        </table>
    <!-- </article> -->
{%endblock content%}