{%extends 'toolbox/base.html'%}

{%block content%}

        <h2>Outil</h2>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{object.owner.profile.image.url}}">
            <div class="madia-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-tools' object.owner.username %}"> {{object.owner}} </a>
                    {% if object.owner == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'tool-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'tool-delete' object.id %}">Delete</a>
                        </div>
                        
                    {% endif %}
                </div>
                <h2 class="article-title"> {{object.title}} </h2>
                <small class="text-muted"> Etat : {{object.get_state_of_use_display}}</small>
                <p class="article-content"> {{object.description}} </p>
            </div>

        </article>
        <h2>Photos</h2>
        <article class="media content-section">
           <img src="{{object.image.url}}">
        </article>

        {% if object.owner != user %}
        <a class="btn btn-outline-info" href="{% url 'loan-create' object.id %}"> Demande de pret </a>
        {% endif %}
    {%endblock content%}