{%extends 'toolbox/base.html'%}



{%block content%}

    <h3>Les outils près de chez vous</h3>

  


<!-- 
    {%for tool in tools%}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{tool.owner.profile.image.url}}">
            <div class="madia-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{%url 'user-tools' tool.owner.username %}"> {{tool.owner}} </a>
                    <small class="text-muted">{{ tool.date_published|date:"d F Y" }}</small>
                  
                </div>
                <h2><a class="article-title" href="{% url 'tool-detail' tool.id %}"> {{tool.title}} </a> </h2>
                <small class="text-muted"> Etat : {{tool.get_state_of_use_display}}</small>
                <p class="article-content"> {{tool.description}} </p>
                <img src="{{tool.image.url}}">
            </div>
        </article>
    {%endfor%} 
-->
<div class="container">
    <div class="row">
        {%for tool in tools%}
        <div class="col-sm">
            <div class="card">
                <a href="{% url 'tool-detail' tool.id %}">

                    <!-- Image à la une -->
                    <div class="card-image"><img src="{{tool.image.url}}" alt="tool" /></div>
                    <!-- Fin de l'image à la une -->
            
                    <!-- Corp de notre carte -->
                    <div class="card-body">
                        <!-- Date de publication de l'article-->
                        <div class="card-date">
                            <time>{{ tool.date_published|date:"d F Y" }}</time>
                        </div>
                        <!-- Titre de l'article -->
                        <div class="card-title">
                            <b>{{tool.title}} </b>
                        </div>
                        <!-- Extrait de l'article -->
                        <div class="card-excerpt">
                            <p> {{tool.short_desc}} </p>
                        </div>
            
                    </div>
                    <!-- Fin du corp de notre carte -->
                </a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock content%}